* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
  font-weight: lighter;
  letter-spacing: 0.11em;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: rgb(0, 0, 0);
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 1em;
  font-weight: 600;
}
.slider-sect-ctnr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slides {
  display: none;
  border-radius: 2%;
}
.active {
  display: block;
}
.btn {
  margin: 0 5px;
  padding: 10px 15px;
  color: white;
  background-color: black;
  border-radius: 10%;
}

/* media queries */

@media screen and (max-width: 1000px) {
  body {
    background-color: black;
  }

  h1 {
    color: white;
  }

  .slider-sect-ctnr {
    background-color: white;
    padding: 40px 10px;
    border-radius: 10px;
  }
}

@media screen and (max-width: 600px) {
  .slider-sect-ctnr {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .slides {
    max-width: 100%;
    max-height: 100%;
  }
  .btn {
    margin: 10px;
  }
}
